/* header section h & list flex holo */
nav
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: antiquewhite;
    padding-inline: 10px;
}
/* list flex holo */
nav ul{
    display: flex;
}
/* remove list dot, distance */
nav ul li{
    list-style: none;
    margin-right: 15px;
}
/* remove under line */
nav li a{
    text-decoration: none;
}
.btn-primary{
    background-color: bisque;
    font-weight: bold;
    padding: auto;
    border-radius: 10px;
}
/* second section */
.hero{
   background-image: url(../Assi/assets/Hero-bg.png);
   margin-top: 50px;
      
}
.hero-cemter-content{
    text-align: center;
}

.group img{
    display: block;
    margin: auto;
}
/* skill section */
.skill{
    margin-top: 50px;
    margin-bottom: 50px;
}
.skill-header{
    text-align: center;
}
.a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: antiquewhite;
    padding-inline: 30px;
}
.a1{
    padding: 20px;
}

.my-inspiration{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}
.my-current-target{
    text-align: center;
}
.my-target{
    margin-top: 30px;
    margin-bottom: 40px;
}

.my-card{
    display: flex;
    padding: 20px;
}
.html-card{
    padding: 10px;
    background-color: rgb(238, 204, 156);
    
}
.css-card{
    padding: 10px;
    background-color:blanchedalmond
    
}
.js-card{
    padding: 10px;
    background-color:aquamarine
}
.horizontal-card{

}
.comon-hori-card{
    display: flex;
    justify-content:space-between;
    padding: 40px;
    margin: auto;
    border:solid;
}
.h-c-img{
    width: 94.78px;
    height: 108px;
}
.h-c-contnt{
    width: 941.22px;
    height: 140px;
}
.supoort{
    background-image: url(assets/handshake.png);
    text-align: center;
    margin-top: 50px;
    height: 186px;
    width: 1044px;
    padding: 30px;

}
.footer{
    display: flex;
    justify-content: space-between;
    padding: 30px;
}